<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>cross fragment</title>
</head>
<body>
  <script>
    var hash = window.location.hash;
    if (hash && hash.length > 1) {
      var request = hash.slice(1, hash.length);
      var obj = JSON.parse(decodeURI(request));
      var data = obj.data;
      //目标页面的getData方法
      parent.frames[obj.frameName].getData(data);
    }
  </script>
</body>
</html>